* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Virgil';
  src: url(./Virgil.woff2) format('woff2');
}

@font-face {
  font-family: 'Work';
  src: url(./WorkSans-VariableFont_wght.ttf) format('ttf');
}


.dot-background {
  background-color: white;
  background-image: radial-gradient(circle, #a0a0a0 1px, transparent 1px);
  background-size: 18px 18px;
  min-height: 100vh;
  mask-image: radial-gradient(ellipse at center, black 50%, transparent 70%);
}

.custom-font {
  font-family: "Virgil", sans-serif;
  font-size: xxx-large;
  color: dimgrey;
  transform: rotate(-8deg);
  margin-top: -300px;
  display: flex; 
  flex-direction: column;
  text-align: center; 
  justify-content: center; /*horizontal flow of content*/
  align-items: center; /*perpendicular flow of contents*/
  height: 100vh;
}

.description-font {
  font-family: "Work", sans-serif;
  font-size: x-large;
  color: dimgrey;
  margin-top: -20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*encapsulates and seperates the icons*/
.icon-container {
  display: flex; 
  justify-content: center;
  margin-top: -330px;
  gap: 115px
}

.project-icons {
  height: 150px; 
  width: 150px; 
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center; 
  transform: 90deg;
}
