
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Virgil';
  src: url(./Virgil.woff2) format('woff2');
}

.custom-font {
  font-family: "Virgil", sans-serif;
  font-size: xxx-large;
  color: dimgrey;
  transform: rotate(-8deg);
  margin-top: -320px;
  display: flex; 
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}